
* {
  font-family: Gilroy;
  box-sizing: border-box;
}

body{
  margin: 0;
}

input{
  border: none;
}

input:focus-visible{
  border: none;
  outline: 0px;
}

button{
  border: none;
}

p{
  margin: 0;
}


