
.background {
  min-width: 100vw;
  min-height: 100vh;

  &-authorisation {
    background-color: #141834;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-home {
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

.form-wrapper {
  position: relative;
  min-width: 745px;
  min-height: 450px;
  background: #FFFFFF;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.05);
  border-radius: 7px;

  &__leftside {
    margin-left: 45px;
    margin-top: 40px;
  }

  &__rightside {
    position: absolute;
    width: 400px;
    height: 400px;
    right: 0;
    bottom: 0;
  }

  &__logo {
    margin-bottom: 40px;
    width: 82px;
    height: 25px;
    margin-top: 40px;
  }

  &__text {
    margin-bottom: 20px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #141834;
  }

  &__input {
    margin-bottom: 10px;
    position: relative;

    &_wrapper{
      display: flex;
      justify-content: center;
    }
  }

  &__button {
    width: 280px;
    margin-top: 20px;
  }

}


.input {
  padding: 18px 22px 18px 25px;
  width: 280px;
  height: 56px;
  border: 1px solid #E8E8EB;
  border-radius: 5px;


  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    width: 80%;
    height: 20px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #5D5F73;
  }

  &__icon {

  }


}

.button {
  border-radius: 7px;
  padding: 14px;

  &_orn {
    background-color: #EA5616;
  }

  &_blue {
    background-color: #2C2D84;
    color: white;
  }

  &_white {
    color: #141834;
    background-color: white;
    border: 1px solid rgba(20, 24, 52, 0.1);
  }

  &_bigR{
    border-radius: 35px;
    padding: 10px 20px 8px;
  }
}

